@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 4, 0, 0;
  --background-end-rgb: 4, 0, 0;
}

@media (prefers-color-scheme:dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 4, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb))
}

@layer utilities {
  html {
    transition: background-color 0.3s, color 0.3s;
  }
  .text-balance {
    text-wrap: balance;
  }
  .bg-custom {
    background-image: url('../../public/assets/bg.svg');
    background-repeat: repeat;
    background-position: center;
  }
}
